.tabla{
    margin: 20px 20px 20px 50px;
    background-color: #f4f9ff;
    border-radius: 7px;
    padding: 10 5 0 5;
    color: black;
}
#btn-crear{
    margin-top: 20px;
    margin-left: 30px;
}

#eliminar{
    margin-left: 20px;
}

#cancelar{
    margin-left:20px;
}
.my-pagination ::ng-deep .ngx-pagination .current {
    background: #0865d8;
  }

.ngx-pagination{
    background-color: #0865d8;
}