<br>
<br>
<br>
<form  [formGroup]="fGroup">
    <div id="container"  class="row">
            <input type="hidden" formControlName="id"/>
            <input type="hidden" formControlName="clave"/>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input formControlName="nombre" id="name" type="text" class="validate" name="name">
                    <label class="active" for="name">Nombre</label>
                </div>
                
                <div class="input-field col s6">
                    <input formControlName="apellido" id="last_name" type="text" class="validate" name="last_name">
                    <label class="active"  for="last_name">Apellido</label>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input formControlName="username" id="email" type="email" class="validate" name="email">
                    <label class="active"  for="email">Correo electrónico</label>
                </div>
               
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input formControlName="celular" id="cel" type="text" class="validate" name="cel">
                    <label class="active"  for="cel">Celular</label>
                </div>
                <div class="input-error" *ngIf="fg['celular'].errors && (fg['celular'].dirty || fg['celular'].touched)">
                    <ul>
                        <li><strong *ngIf="fg['celular'].errors['required']">Este campo es requerido.</strong><br /></li>

                    </ul>
                </div>
            </div>
            <div class="row" id="conta">
                <div id="lista"  class="row">
                    <i class="material-icons prefix col">person</i>
                    <label class="active" id="rol" class="col" for="roles">Rol</label>
                </div>
                   
                    <select id="roles" name="miselect" formControlName="seleccionado" class="browser-default ">
                        <option  value="" disabled selected>{{rolquellega}}</option>
                        <option value={{rol._id}} *ngFor="let rol of roles">{{rol.nombre}}</option>
                    </select>
                    
               
                <div class="input-error" *ngIf="fg['seleccionado'].errors && (fg['seleccionado'].dirty || fg['seleccionado'].touched)">
                    <ul>
                        <li><strong *ngIf="fg['seleccionado'].errors['seleccionado']">Este campo es requerido.</strong><br /></li>
    
                    </ul>
                </div>
            </div>
            
           

            <div class="center">
                <input type="button" (click)="EditAction()" value="Register" name="register" class="btn waves-effect waves-light "
                    style="width:100%; background-color: #0756af;">
            </div>

        
    </div>

    

    <br>
</form>
