<!-- Form Section -->

<form action="" [formGroup]="fGroup">
    <div class="card-panel z-depth-5">
        <div class="row margin">
            <div class="col s12 m12 l12 center">
                <img src="https://i.imgur.com/ypAbAYt.png" alt="" class="responsive-img circle" style="width:100px;">
                <p>FORGOT PASSWORD</p>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input formControlName="username" type="text" name="username" id="username">
                <label class="active" for="username">Username</label>
            </div>
            <div class="input-error" *ngIf="fg['username'].errors && (fg['username'].dirty || fg['username'].touched)">
                <ul>
                    <li><strong *ngIf="fg['username'].errors['required']">Este campo es requerido.</strong><br /></li>
                    <li><strong *ngIf="fg['username'].errors['email']">Este campo debe tener un formato de correo
                            electrónico.</strong><br /></li>
                    <li><strong *ngIf="fg['username'].errors['minlength']">El valor de este campo debe ser mínimo de 5
                            caracteres.</strong><br /></li>
                </ul>
            </div>
        </div>
        <br><br>
        <div class="center">
            <input type="button" (click)="ForgotPasswordAction()" value="Forgot Password" name="forgot-password"
                class="btn waves-effect waves-light " style="width:100%; background-color: #ff4081;">
        </div>
        <br>
    </div>
</form>