<form action="" [formGroup]="FG">
    <div id="container" class="card-panel z-depth-5">
        <div class="row margin">
            <div class="col s12 m12 l12 center">
                <img src="https://i.imgur.com/ypAbAYt.png" alt="" class="responsive-img circle" style="width:100px;">
                <p>CHANGE PASSWORD</p>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input formControlName="user" type="text" name="username" id="username">
                <label class="active" for="username">Username</label>
            </div>
            <div class="input-error" *ngIf="fg['user'].errors && (fg['user'].dirty || fg['user'].touched)">
                <ul>
                    <li><strong *ngIf="fg['user'].errors['required']">Este campo es requerido.</strong><br /></li>
                    <li><strong *ngIf="fg['user'].errors['email']">Este campo debe tener un formato de correo
                            electrónico.</strong><br /></li>
                    <li><strong *ngIf="fg['user'].errors['minlength']">El valor de este campo debe ser mínimo de 5
                            caracteres.</strong><br /></li>
                </ul>
            </div>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input formControlName="newPassword" type="password" name="password" id="password">
            <label for="password">New Password</label>
        </div>
        <div class="input-error"
            *ngIf="fg['newPassword'].errors && (fg['newPassword'].dirty || fg['newPassword'].touched)">
            <ul>
                <li><strong *ngIf="fg['newPassword'].errors['required']">Este campo es requerido.</strong><br /></li>
            </ul>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input formControlName="confirPassword" type="password" name="cpassword" id="cpassword">
            <label for="cpassword">Confirmation Password</label>
        </div>
        <div class="input-error"
            *ngIf="fg['confirPassword'].errors && (fg['confirPassword'].dirty || fg['confirPassword'].touched)">
            <ul>
                <li><strong *ngIf="fg['confirPassword'].errors['required']">Este campo es requerido.</strong><br /></li>
            </ul>
        </div>

        <div class="input-field ">
            <i class="material-icons prefix">lock</i>
            <input formControlName="oldPassword" type="password" name="opassword" id="opassword">
            <label for="opassword">Old Password</label>
        </div>
        <div class="input-error" *ngIf="fg['oldPassword'].errors && (fg['oldPassword'].dirty || fg['oldPassword'].touched)">
            <ul>
                <li><strong *ngIf="fg['oldPassword'].errors['required']">Este campo es requerido.</strong><br /></li>
            </ul>
        </div>
    </div>

    <div class="center">
        <input type="button" (click)="ChangePasswordAction()" value="CHANGE PASSWORD" name="login"
            class="btn waves-effect waves-light " style="width:100%; background-color: #ff4081;">
    </div>

</form>