

<form [formGroup]="fGroup">
    <div id="container" class="card-panel z-depth-5">
        <input type="hidden" formControlName="id">
        <div class="row margin">
            <div class="col s12 m12 l12 center">
                <img src="../../../../../assets/rol.png" alt="" class="responsive-img " style="width:100px;">
                <p>EDIT PLAN</p>
            </div>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">create</i>
            <input formControlName="nombre" type="text" name="nombre" id="nombre">
            <label class="active" for="nombre">Nombre</label>
        </div>
        <div class="input-error" *ngIf="fg['nombre'].errors && (fg['nombre'].dirty || fg['nombre'].touched)">
            <ul>
                <li><strong *ngIf="fg['nombre'].errors['required']">Este campo es requerido.</strong><br /></li>
            </ul>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">create</i>
            <input formControlName="color" type="text" name="color" id="color">
            <label class="active" for="color">color</label>
        </div>
        <div class="input-error" *ngIf="fg['color'].errors && (fg['color'].dirty || fg['color'].touched)">
            <ul>
                <li><strong *ngIf="fg['color'].errors['required']">Este campo es requerido.</strong><br /></li>
            </ul>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">attach_money</i>
            <input formControlName="valor" type="text" name="valor" id="valor">
            <label class="active" for="color">valor</label>
        </div>
        <div class="input-error" *ngIf="fg['valor'].errors && (fg['valor'].dirty || fg['valor'].touched)">
            <ul>
                <li><strong *ngIf="fg['valor'].errors['required']">Este campo es requerido.</strong><br /></li>
                <li><strong *ngIf="fg['valor'].errors['number']">Este campo tiene que ser un número.</strong><br /></li>
            </ul>
        </div>
        <div class="row" id="conta">
            <div id="lista"  class="row">
                <i class="material-icons prefix col">edit_location</i>
                <label id="rol" class="col" for="roles">Parque al que pertenece el plan</label>
            </div>
            
            
            <select id="roles" name="miselect" formControlName="seleccionado" class="browser-default ">
                <option value="" disabled selected>{{nombre}}</option>
                <option value={{parque.id}} *ngFor="let parque of parques">{{parque.nombre}}</option>
            </select>
            
       
        <div class="input-error" *ngIf="fg['seleccionado'].errors && (fg['seleccionado'].dirty || fg['seleccionado'].touched)">
            <ul>
                <li><strong *ngIf="fg['seleccionado'].errors['seleccionado']">Este campo es requerido.</strong><br /></li>

            </ul>
        </div>
    </div>

    <!-- Form Chekbox (Remember Me) Input Section -->
<div class="botones row">
    <div class="center col">
        <input type="button" (click)="EditPlanAction()" value="Confirmar" name="edit" class="btn waves-effect waves-light green"
            style="width:100%; background-color: #ff4081;">
    </div>
    <div class="center col">
        <input  type="button" routerLink="/parameters/list-department" value="Cancelar" name="cancel" class="btn waves-effect waves-light orange"
            style="width:100%; background-color: #ff4081;">
    </div>
</div>

