<div id="slider" class="slider">
  <ul id="slides" class="slides">
    <li>
      <img src="../../../../assets/images/p1.png"> <!-- random image -->
      <div class="caption center-align">
        <h1>Bienvenido a Adventure Park</h1>
        <h5 class="light grey-text text-lighten-3">Un mundo lleno de aventura y diversion</h5>
      </div>
    </li>
    <li>
      <img src="../../../../assets/images/p2.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h2>EL mejor parque del mundo</h2>
        <h5 class="light grey-text text-lighten-3">Te recibimos con los brasos abiertos!</h5>
      </div>
    </li>
    <li>
      <img src="../../../../assets/images/p3.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h2>Fundadores</h2>
        <h3 class="light grey-text text-lighten-3">Luis Andres Martinez</h3>
        <h3 class="light grey-text text-lighten-3">Javier Lopez</h3>
        <h3 class="light grey-text text-lighten-3">Junior Echeverri</h3>
      </div>
    </li>
    <li>
      <img src="../../../../assets/images/p4.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../../../../assets/images/p5.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>

<script>
  
</script>


    
      
