<h2 class="bienvenido">Bienvenidos a Adventure Park</h2>
<div class="carousel">
  <a class="carousel-item" routerLink=""><img src="../../../../assets/park1.jpg"></a>
  <a class="carousel-item" routerLink=""><img src="../../../../assets/park2.jpg"></a>
  <a class="carousel-item" routerLink=""><img src="../../../../assets/park3.jpg"></a>
  <a class="carousel-item" routerLink=""><img src="../../../../assets/park4.jpg"></a>
  <a class="carousel-item" routerLink=""><img src="../../../../assets/park5.jpg"></a>
  <a class="carousel-item" routerLink=""><img src="../../../../assets/park6.jpg"></a>
</div>
    
      
