
<form action="" [formGroup]="fGroup">
    <div id="container" class="card-panel z-depth-5">
        <div class="row margin">
            <div class="col s12 m12 l12 center">
                <img src="https://i.imgur.com/ypAbAYt.png" alt="" class="responsive-img circle" style="width:100px;">
                <p>LOGIN</p>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input formControlName="username" type="text" name="username" id="username">
                <label class="active" for="username">Username</label>
            </div>
            <div class="input-error" *ngIf="fg['username'].errors && (fg['username'].dirty || fg['username'].touched)">
                <ul>
                    <li><strong *ngIf="fg['username'].errors['required']">Este campo es requerido.</strong><br /></li>
                    <li><strong *ngIf="fg['username'].errors['email']">Este campo debe tener un formato de correo
                            electrónico.</strong><br /></li>
                    <li><strong *ngIf="fg['username'].errors['minlength']">El valor de este campo debe ser mínimo de 5
                            caracteres.</strong><br /></li>
                </ul>
            </div>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input formControlName="password" type="password" name="password" id="password">
            <label class="active" for="password">Password</label>
        </div>
        <div class="input-error" *ngIf="fg['password'].errors && (fg['password'].dirty || fg['password'].touched)">
            <ul>
                <li><strong *ngIf="fg['password'].errors['required']">Este campo es requerido.</strong><br /></li>
            </ul>
        </div>

        
    <div class="left">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">autor: Luis Estremor</label>
    </div>

    <br><br>
    <div class="row">
        <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a routerLink="/security/register">Register Now!</a></p>
        </div>
        <div class="">
            <p class="margin right-align medium-small"><a routerLink="/security/change-password">Change password?</a>
            </p>
        </div>
        <div class="input-field col s6 m6 l6">
            <p class="margin right-align medium-small"><a routerLink="/security/forgot-password">Forgot password?</a>
            </p>
        </div>
    </div>


    <div class="center">
        <input type="button" (click)="LoginAction()" value="Login" name="login" class="btn waves-effect waves-light "
            style="width:100%; background-color: #122d86;">
    </div>

    <br>
    </div>

    <!-- Form Chekbox (Remember Me) Input Section -->

</form>